@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Belleza'; 
    src: url('./fonts/Belleza.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Garamond'; 
    src: url('./fonts/Garamond.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat'; 
    src: url('./fonts/Montserrat.ttf') format('truetype'); 
    font-weight: normal, semibold, extrabold;
    font-style: normal, semibold, extrabold;
  }